<!doctype html>
<html>
  <body>
    <div class="calc"></div>
    <script type="text/html" id="calc-template">
<div class="value"><%= value %></div>
<input class="calc-input" value="<%= input %>">
<% operations.forEach(function(op) { %>
<button
  class="op"
  <% if (op == operation) { %>
    style="border: 1px solid red"
  <% } %>
  data-op="<%= op %>">
  <%= op %>
</button>
<% }) %>
<button class="reset">CLR</button>
    </script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
var Calculator = Backbone.Model.extend({
  defaults: {
    value: 1,
    input: 2,
    operation: "add",
    operations: ["add", "subtract", "divide"]
  },
  calculate: function() {
    var operation = this.get("operation");
    var value = this.get("value");
    var input = this.get("input");
    if (operation == "add") {
      this.set("value", value + input);
    }
    if (operation == "subtract") {
      this.set("value", value - input);
    }
  },
  reset: function() {
    this.set({
      input: 0,
      value: 0,
      operation: "add"
    });
  }
});

var CalculatorView = Backbone.View.extend({
  el: ".calc",
  template: _.template($("#calc-template").html()),
  events: {
    "click .op": "operate",
    "change .calc-input": "updateInput",
    "keyup .calc-input": "updateInput",
    "click .reset": "clear"
  },
  initialize: function() {
    this.listenTo(this.model, "change", this.render);
  },
  render: function() {
    var html = this.template(this.model.toJSON());
    this.$el.html(html);
  },
  operate: function(e) {
    var $button = $(e.target);
    var operation = $button.attr("data-op");
    this.model.set("operation", operation);
    this.model.calculate();
  },
  updateInput: function(e) {
    var $input = $(e.target);
    this.model.set("input", $input.val() * 1, {
      silent: true
    });
  },
  clear: function() {
    this.model.reset();
  }
});

var calc = new Calculator();
var view = new CalculatorView({ model: calc });
view.render();
    </script>
  </body>
</html>





<!-- -->
